* {
    margin: 0;
    padding: 0;
}

/*ul,*/
/*ol,*/
/*dl,*/
/*li {*/
/*    list-style: none;*/
/*}*/

body {
    background-image: linear-gradient(to right, skyblue, rgb(243, 163, 120));
}

.contain {
    width: 1024px;
    height: 900px;
    text-align: center;
}

/*li {*/
/*    border: 1px solid black;*/
/*    border-radius: 5px;*/
/*    float: left;*/
/*    margin: 5px;*/
/*    padding: 5px 10px;*/
/*    background: #918597;*/
/*    text-align: center;*/
/*    color: white;*/
/*    width: 48px;*/
/*    box-shadow: 0px -2px 2px 0px #ccc,*/
/*        -2px 0px 2px 0px #ccc,*/
/*        2px 0px 2px 0px #ccc,*/
/*        0px 2px 2px 0px #ccc;*/
/*}*/


#number {
    width: 200px;
    height: 30px;
    border: 1px solid #139be1;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: #faf1d8;
    text-indent: 10px;
}

#number:focus {
    outline: 2px dashed #2feb2f;
    background-color: #aaa;
}

 /*.upload_file{*/
 /*   color:#333333;*/
 /*   background-color: #fff;*/
 /*   padding:10px 30px;*/
 /*   margin-right:10px;*/
 /*   outline:none;*/
 /*   border:1px solid #ccc;*/
 /* }*/
